# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environments
.env
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ajouts
.venv/
venv/
.env
db.sqlite3
__pycache__/
*.pyc
